{% extends "pool/base.html" %}    
{% block content %}
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Tier</th>
                <th scope="col">Name</th>
                <th scope="col">Odds To Win</th>
            </tr>
        </thead>
        <tbody>
        {% for golfer in odds %}
            {% if golfer.tier > 0 %}            
                <tr>
                    <th>{{ golfer.tier }}</th>
                    <td>{{ golfer.name }}</td>
                    <td>+{{ golfer.odds }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}